venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.vscode/
.idea/
*.log
.DS_Store
.env
.db_credentials.json
config/.env
config/.db_credentials.json
config/db_credentials.json
db_credentials.json

# Large data files
data/
